*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    // margin-top: 300px;
    justify-content: center;
    margin-left: 260px;
}
.heading{
    display: flex;
    justify-content: center;
    
}
.greetings{
    font-size: 3.2786rem;
    // color: white;
    align-self: center;
    flex-wrap: wrap ;
    font-weight: 700;
    
}

.about-user{
   width: 60%;
   text-align: center;
   
}
.about-user p{
    margin-top: 15px;
    font-size: 1.25rem;
    line-height: 2rem;
}
.name{
    color: #037fff;
    margin-left: 5px;
}

.social-icon{
    display: flex;
    align-items: center;
}
.icon{
    width: 5rem;
    margin: 20px 10px;

}
